@import "bootstrap-4.2.1/scss/bootstrap";

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}

body {
    min-height: 100vh;
    background: rgb(94, 0, 58);
    color: white;
    background-image: url('../images/cat.jpg');
    background-position: center;
    background-repeat: no-repeat;
}